.cWrap{
    display: flex;
    justify-content: center;
}
.calc{
    padding: 10px;
    width: 390px;
    border-radius:20px;
    background-color: black;
}
.visor{
    background-color: rgb(43, 43, 43);
    border-radius:20px;
    width: 330px;
    height: 160px;
    margin:10px;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 20px 14px;
}
.hist{
    font-size: 13px;
    min-width: 18px;
    text-align: left;
}
.rst{
    font-size:40px;
    text-align: right;
}
.bt{
    border:none;
    color:white;
    height:64px;
    
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    margin-left: 15px;
}
.btclear{
    
    background-color: rgb(206, 40, 40);
}
.btop{
    
    background-color: gray;
   
}
.btnum{
   
    background-color: gray;
   
}
.bteq{
   
    background-color: gray;
   
}
.bts{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:5px;
}
.btzr{
    grid-column: span 2;
}